<html>
<head></head>

<body>
<h1 style='color:black'>Hello There! Welcome to OSDG!</h1>

<h2>OSDG is a free, open-source tool that assigns SDG labels to your input.</h2>

<p><strong>More information:</strong></p>
  <li><a href="https://technote.ai/osdg">OSDG platform</a>
    <li><a href="https://arxiv.org/abs/2005.14569">OSDG Paper on ArXix</a>
    <li><a href="https://github.com/osdg-ai/osdg-tool/">OSDG GitHub Repository</a>
      <li><a href="https://hub.docker.com/repository/docker/technoteai/osdg">OSDG Docker Hub Repository</a>

<p></p>
<h2>Usage:</h2>
<p>Short-text (e.g. a publication abstract).</p>

<h3 style='color:black'>Usage:</h3>
<p> To use the API, make a simple call with Python requests: </p>
<h4> Publication Abstract</h4>
<p></p>
<p>
<code>import requests</code>
</p>
<p><code>
data = {'text': """Developing nations are faced with a two‐edged sword in the field of energy.
                   On the one hand the rising price of oil has reduced the potential for fossil fuel energy and eroded foreign exchange reserves in oil‐importing countries. 
                   At the same time deforestation may be causing increased prices or shortages of fuels such as fuelwood and charcoal. 
                   This paper reviews the most recent and sometimes controversial estimates of deforestation in developing countries and analyzes the relationship 
                   between deforestation and its probable causes. Three recent estimates of the rate of deforestation in developing countries 
                   between 1968 and 1978 are compared using rank order correlation. 
                   Two of the estimates, of closed forest and moist tropical forest, are in significant agreement but differ from a third estimate that includes 
                   open woodland and regenerating forest. Agreement is strong among all three sources for a restricted group of countries. 
                   A cross‐national analysis confirms the most frequently cited causes of deforestation. 
                   Deforestation from 1968–78 in 39 countries in Africa, Latin America, and Asia is significantly related to the rate of population growth 
                   over the period and to wood fuels production and wood exports in 1968; it is indirectly related to agricultural expansion and 
                   not related to the growth of per capita GNP. Results indicate that in the short term, deforestation is due to population growth and agricultural expansion, 
                   aggravated over the long term by wood harvesting for fuel and export."""} </code>
</p>
<p><code>
response = requests.post('http://localhost:5000/tag', json=data)
</code></p>
<p><code>
result = response.json()
</code></p>

<p><strong>Returns:</strong></p>
<p>A list of relevant SDGs and their relevance score.<p>
<p><code>
[{'sdg': 'SDG_7', 'relevance': 2.0}, {'sdg': 'SDG_15', 'relevance': 2.0}]
</code>
</p>
</body>
<html>
